body{
    background-color: rgb(76, 128, 241);
}

#container{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 100px;
}

#form-group {
    margin-bottom: 25px;
}

#form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form-group input {
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#btn-conta {
    width: 90%;
    padding: 5px 10px;
    color: white;
    background-color: rgb(76, 128, 241);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn-conta:hover {
    background-color: rgb(53, 93, 178);
}