body {
    background-color: rgb(31, 124, 230);
}

#container {
    background-color: rgb(247, 247, 247);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 40%;
    margin-top: 15%;
    padding: 60px 0%;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.204);

}

#nome {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(247, 247, 247);
    outline: none;
    margin-bottom: 15px;
}

#idade {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(247, 247, 247);
    margin-bottom: 15px;
    outline: none;
}

#nota {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(247, 247, 247);
    margin-bottom: 15px;
    outline: none;
}


#btn-entrar {
    background-color: rgb(7, 211, 62);
    color: rgb(247, 247, 247);
    border-radius: 10px;
}
#btn-entrar:hover {
    background-color: rgb(9, 171, 52);
}