#container {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(240, 100, 100);
    padding: 30px;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
}

body {
    background-color: rgb(250, 82, 82);
}

#text {
    margin-bottom: 0px;
    font-family: cursive;
}

#timer {
   margin: 0 auto;
    font-weight: bolder;
    font-size: xxx-large;
    margin-bottom: 15px;
    font-family: cursive;
}

#botao {
    padding: 10px 5px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px black;
    color: brown;
    font-size: large;
    font-family:cursive;
    font-size: x-large;
}

#botao:hover {
    background-color: rgb(202, 198, 198);
}