#container {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(238, 112, 112);
    padding: 30px;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
}

#container-btn {
    display: flex;
}

body {
    background-color: rgb(250, 82, 82);
}

#text {
    margin-bottom: 0px;
    font-family: cursive;
    margin-left: 15%;
    font-size: xx-large;
    font-weight: bolder;
    
}

#timer {
   margin: 0 auto;
    font-weight: bolder;
    font-size: xxx-large;
    margin-bottom: 15px;
    font-family: cursive;
}

#start {
    padding: 10px 5px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: brown;
    font-size: large;
    font-family:cursive;
    font-size: x-large;
    box-shadow: 0 6px black;
    transition: all 0.1s;
    cursor: pointer;

}


#start:hover {
    background-color: rgb(202, 198, 198);
}

#start:active {
    box-shadow: 0 2px black;
    transform: translateY(4px);
}

#reset {
    max-width: 13%;
    margin-top: 10px;
    background-color:rgb(238, 112, 112) ;
    border-radius: 10px;
    border: none;
    color: white;
}

#img {
    width: 100%;
}
#img:hover {
    transform: translatey(-2px);
}

#pause {
    max-width: 13%;
    margin-top: 10px;
    background-color:rgb(238, 112, 112) ;
    border-radius: 10px;
    border: none;
    color: white;
}