#container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 10px;
    border-color: red;
    
}

#title {
    font-weight: bolder;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#text-label {
    margin-left: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btn-date {
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    
}

#btn{
    margin-top: 10px;
    font-weight: bolder;
    width: 50%;
    margin-left: 60px;
    padding: 8px 13px;
    background-color: blue;
    color: white;
    border:none;
    border-radius: 5px;
}
#btn:hover {
    background-color: rgba(86, 86, 245, 0.989);
}


#display {
   margin-left:  20px;
}


