#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    border-radius: 10px;
    border: none;
    background-color: rgb(120, 54, 201);
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
  margin-top: 10%;
  box-shadow: 2px 2px 10px 4px black;
  max-width: 500px;
}

#footer {
    margin-top: 20px;
}

#footer , #text {
    font-family:cursive;
    font-weight: bold;
}

#img {
    width: 140px;
    display: flex;
    margin-left: 110%;
    border-radius: 200px;
}