.calculadora {
   width: 200px;
    margin: 50px auto;
    
}

.botoes {
   display: grid; 
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
}

.display {
    width: 100%;
    height: 25px;
    text-align: right;
}

#cor {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}

#cor-laranja {
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
}

#cor-cinza {
    background-color: rgb(159, 158, 158);
    border: none;
    border-radius: 10px;
    color: white;
}

#cor:hover {
    background-color: rgba(59, 59, 59, 0.816);
}

#cor-laranja:hover {
   background-color: rgba(255, 166, 0, 0.741);
}

#cor-cinza:hover {
    background-color: rgba(159, 158, 158, 0.718) ;
}