#container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 5px;
    background-color: rgba(42, 231, 42, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#temperature {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




body {
    background-color: rgb(65, 250, 188);
}
